//misc
$background: url('/img/bg.png') no-repeat fixed;

//typography
$font-family: "Open Sans", sans-serif;
$font-size: 16px;

//colors
$red: #F84241;
$blue: #008fd4;
$blue-lighter: #829ba8;
$gray: #E4E4E4;
$gray-light: #f6f6f6;
$gray-lighter: #f1f1f1;
$gray-dark: #cdd5da;
$gray-darker: #ADADAD;
$black: #001f2d;
$white: #ffffff;

$text-color: $black;
